@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f8fafc;
  color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
}

.container-custom {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

.gradient-text {
  background: linear-gradient(to right, #0f4c81, #00b4d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}